---
import "@/styles/globals.css";

import { TOTPForm } from "@/components/totp-form";
import { Toaster } from "@/components/ui/sonner";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Authenticator</title>
  </head>

  <body>
    <div class="grid h-screen place-items-center content-center">
      <TOTPForm client:load />
    </div>
    <Toaster client:load />
  </body>
</html>
